@font-face {
    font-family: "Donk Co";
    src: url("DonkCo.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pixel Georgia";
    src: url("PixelGeorgia.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}
